/*Portal Login*/
#portalLogin {
    position: relative;
    width: 1440px;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, #FEFEFF -14.26%, #ADA4C9 57.45%, #ADA4C9 57.47%, #54428E 133.79%);
}

#loginCard {
    position: absolute;
    width: 550px;
    left: 446px;
    top: 70px;
    max-width: 100%;

    background: #F3F2F4;
    border-radius: 15px;
}

.card-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.input-group {
    background: #FFFFFF;
    border: 1px solid #54428E;
    box-sizing: border-box;
    border-radius: 10px;
}

#loginSubmitButton {
    background: #54428E;
    border-radius: 10px;
}

/* Landing Page*/
#landing-page {
    text-align: center;
    background: #FAFAFA;
}

.footer {
    height: 50px;
}

.text-logo {
    color: #05386b !important;
}
