/*Portal Login*/
#portalLogin {
    background: linear-gradient(180deg, #FEFEFF -14.26%, #ADA4C9 57.45%, #ADA4C9 57.47%, #54428E 133.79%);
}

#loginCard {
    width: 550px;
    max-width: 100%;
    background: #F3F2F4;
}

.card-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.input-group {
    background: #FFFFFF;
    border: 1px solid #54428E;
    box-sizing: border-box;
    border-radius: 10px;
}

#loginSubmitButton {
    background: #54428E;
    border-radius: 10px;
}

/* Landing Page*/
#landing-page {
    text-align: center;
    background: #FAFAFA;
}

.footer {
    height: 50px;
}

.footer-align-bottom {
    min-height: calc(100vh - 114px);
}

.text-logo {
    color: #05386b !important;
}

h1 {
    color: #54428e !important;
    font-size: 30px !important;
}

.ml-15 {
    margin-left: -15px !important;
}

.mr-15 {
    margin-right: -15px !important;
}

.form-control:focus {
    border-color: #54428e !important;
}
